doctype html 
html(lang="es")
    head 
        meta(charset="utf-8")
        meta( name="viewport" content="width=device, initial-sacale=1")
        title nevyn
        link(rel="icon", type="imgen/png", href="assets/icon/icon.png")
        link(rel="stylesheet", href="styles/index.css")
    body
        include pug/header.pug
        include pug/aboutme.pug
        include pug/proyects.pug
        include pug/footer.pug
