main.about-me
    aside.perfile
        img.perfile-img(src="assets/img/yusbel.jpg", alt="Nevyn")
        h1.perfile-name Nevyn
        ul.network
            li.network-item 
                a(href="https://gist.github.com/yusbel14sj") 
                    img(src="assets/icon/Git-Hub.png", alt="")
                    p Git-Hub 
            li.network-item 
                a(href="https://www.linkedin.com/in/yusbel-sj-74450220b/") 
                    img(src="assets/icon/Linkedin.png", alt="")
                    p linkedin 
            li.network-item
                a(href="https://www.facebook.com/yusbel.sj.1") 
                    img(src="assets/icon/Facebook.png", alt="")
                    p facebook 
            li.network-item 
                a(href="#") 
                    img(src="assets/icon/gmail.png", alt="")
                    p yusbel14sj@gmail.com   
    .description  
        h1 Hey, Welcome 
        p hola, me llamo yusbel naci en perú, huanuco, tengo 21 años llevo practicando desarrollo web 4 años, lo que fue solo un juego hoy se combierte en algo mas. Aun que me encante pasar horas en la computadora me gusta mas oir la lluvia mientras lo hago.
        p ¿tambien te gusta la lluvia?. 