section.contact#contact
    ul.network
        li.network-item 
            a(href="https://gist.github.com/yusbel14sj") 
                img(src="assets/icon/Git-Hub.png", alt="")
                p Git-Hub 
        li.network-item 
            a(href="https://www.linkedin.com/in/yusbel-sj-74450220b/") 
                img(src="assets/icon/Linkedin.png", alt="")
                p linkedin 
        li.network-item
            a(href="https://www.facebook.com/yusbel.sj.1") 
                img(src="assets/icon/Facebook.png", alt="")
                p facebook 
        li.network-item 
            a(href="#") 
                img(src="assets/icon/gmail.png", alt="")
                p yusbel14sj@gmail.com  
    form(action="#").form 
        label(for='name') escribe tu nombre
        input(type="text" placeholder='zandalio')#name
        label(for="coreo") escribr tu correo electronico
        input(type="text" name='correo' placeholder='exsample@gmail.com')#coreo
        label(for="message")  cual es tu mensage?
        textarea(name="message", cols="auto", rows="5" ).message#menssage     
        button(type="") enviar 