footer.footer 
    ul.footer-list 
        li.footer-list-item
            a(href="#") todos los derechos reserbados
        li.footer-list-item
            a(href="#") by @yusbel14sj
        li.footer-list-item
            a(href="#") git-hub 