header.header 
    a.header-logo nevyn 
    nav.navbar 
        button.nav-btn
            img(src="assets/icon/menu.svg", alt="")
        ul.contend-nav
            li.nav-item 
                a(href="#") Proyecto Hobie 
            li.nav-item 
                a(href="#") Contacto
            li.nav-item 
                a(href="#") Proyectos