header.header
    div.header-logo 
        img(src="/assets/icon/scala.png", alt="logo tornado.icon")
        p nevyn 
    nav.navbar 
        ul 
            li.navbar-item
                a(href="#aboutMe") 
                    img(src="/assets/icon/usuario.png", alt="icon aboutme")
            li.navbar-item
                a(href="#proyect") 
                    img(src="/assets/icon/carpeta.png", alt="icon proyects")
            li.navbar-item
                a(href="#contact") 
                    img(src="/assets/icon/sobre.png", alt="icon conctact")
            