section.main
    article.main-article 
        h1 HEY, WELLCOME
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In tempore quae voluptas velit accusamus asperiores molestiae fuga excepturi accusantium consectetur numquam perferendis error nemo architecto, assumenda eaque vero molestias. Nostrum.e
    div.main-img
        img(src="/assets/img/yusbelimg.png", alt="")