section.main#aboutMe
    article.main-article 
        h1 HEY, BIENVENIDO
        p hola me llamo Yusbel, con una terible curiosidad descubri mi intensa facinacion sobre la tecnologuia me encanta compartir siempre que puede mis mis conocimiento y habilidades a todo el mundo. 
        p Hoy mas que todo la tecnologuia nos rodea alli por donde vemos, dentro de eso vi mi oportunindad de aprender crear y mejorar las herramientas de la actualidad.
    div.main-img
        img(src="/assets/img/yusbelimg.png", alt="")