section.proyect 
    h2 PROYECTOS
    .proyect-carrusel 
        aside.proyect-item.batatabit
            img(src="/assets/img/landypage.jpg", alt="")
            h3 Batata-bit
            p this is my first proyect, ultimos combios fueron agragados con nuevos componentes,
        