aside.proyects 
    ul.proyects-list 
        li.proyects-list__item 
            aside.landy-page 
                img(src="assets/img/landypage.jpg", alt="web page")
                h1 landy page 
                p the first proyect in git hub for frontend mentor
                    |a web from sofwarfe ingenier. 
        