* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: monospace;
}
html {
  font-size: 64%;
}
body {
  height: 100%;
  background: #005a53;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(#3AA5B3));
  background: linear-gradient(0deg, #000 0%, #3AA5B3 100%);
}
.header {
  background-color: #004E5A;
  padding: 1.8rem 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #3AA5B3;
  font-weight: 500;
  text-transform: uppercase;
}
.header .navbar button {
  display: none;
}
.header .navbar .contend-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.header .navbar .contend-nav .nav-item a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #3AA5B3;
}
/*
@media (max-widht:550px) {
    .header {
        .navbar{
            button{
                display:block;

            }

            .contend-nav {
                list-style: none;
                display: none;
                gap:3rem;
                .nav-item {
                    a{
                        text-decoration: none;
                        font-size: 1.5rem;
                        color: @color-wite;
                    }
                }
            }
        }
    }
}*/
.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  margin: 5vh auto ;
}
.about-me .perfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
}
.about-me .perfile-img {
  margin: auto;
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  border: 5px solid #9b3131;
}
.about-me .perfile-name {
  text-align: center;
  font-family: monospace;
  font-size: 4rem;
  color: #3AA5B3;
  text-transform: lowercase;
  border-top: 3px solid #000;
  padding-top: 1rem;
  margin-top: 1rem;
}
.about-me .perfile .network {
  display: block;
  list-style: none;
  margin: 4rem;
}
.about-me .perfile .network-item {
  text-align: center;
  padding-bottom: 2rem;
}
.about-me .perfile .network-item a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
}
.about-me .perfile .network-item a p {
  color: #3AA5B3;
}
.about-me .description {
  padding-left: 15vw;
  text-align: end;
}
.about-me .description h1 {
  font-size: 7rem;
  margin: 0 0 4rem 0;
}
.about-me .description p {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.proyects {
  width: 80vw;
  margin: 10rem auto;
}
.proyects-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.proyects-list__item .landy-page {
  border-radius: 2rem;
  background-color: #d9e2e9;
}
.proyects-list__item .landy-page img {
  width: 100%;
  border-radius: 2rem   2rem 0 0 ;
}
.proyects-list__item .landy-page h1 {
  font-size: 2rem;
  padding: 1rem 2rem ;
  color: #3AA5B3;
}
.proyects-list__item .landy-page p {
  font-size: 1.5rem;
  color: #3AA5B3;
  padding: 0 2rem 3rem 2rem;
}
.proyects-list__item:hover {
  opacity: 0.6;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.footer {
  height: 85px;
  background-color: #000;
}
.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}
.footer-list-item {
  padding: 3rem 10vw ;
}
.footer-list-item a {
  text-decoration: none;
  color: #3AA5B3;
  font-size: 2rem;
}
